<div class="center">
	<h1>About Agency Rank</h1>
	<p>I'm working on this thing at night to see if i can make it all work</p>
	<div class="row">
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img style="background-color: #fafafa; width: 180px; height: 180px;" src="..." alt="180x180 image here">
	      </a>
	      <p>An image is supposed to be above this and it should be 180x180 pixels</p>
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img style="background-color: #fafafa; width: 180px; height: 180px;" src="..." alt="180x180 image here">
	      </a>
	      <p>An image is supposed to be above this and it should be 180x180 pixels</p>
	  </div>
</div>